body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea, select, a, blockquote{ margin:0; padding:0; }
body { font-size:14px; font-family: Arial;}
.main_wrapper{ margin: 20px 0 0 0;}
.top-buffer { margin-top:20px; }
.top-buffer1 { margin-top:10px; }
.center { text-align: center;}
.floatRight{float: right;}
.hideDiv {display : none;}
.showDiv{display: block;}
.newImage {display: inline-block;}
.newText p{margin:0px !important;}
.appElement{ cursor:crosshair;}
#sizeBox div { font-size: 13px;}
#sizeBox div img { width:160px;cursor: pointer;}
#sizeText{font-weight: bold;color:#48708a;}
#adHtml{display: table;margin: 0 auto;}
.cancelImg { width:28px !important;}
.posAbsol { position: absolute !important;}
.posRel { position: relative !important;}
#addLayers { display: inline-block;}
#addLayers span{font-size:13px;color : #337ab7;cursor: pointer;}
.layerName{display:block;margin:12px 0px 5px 0px;}

.slider_mozz { -moz-border-radius:4px; -webkit-border-radius: 4px; border-radius: 4px; background:#4f4f4f; border:solid 1px #bcbcbc; height:7px; position:relative; text-align:left; margin:5px 0 10px 0; display:block; }
.sliderImg { margin : 0 !important;}
.ui-slider-handle { border:1px solid #2d2d2d; background:#FFF; color:#555555; cursor:pointer; height:12px; position:absolute; width:5px; margin-left:-5px; -moz-border-radius:4px; -webkit-border-radius: 4px; border-radius: 4px; top:-3px;}
.ui-slider-handle:hover{ border-color:#000 ;}

.ui-slider-horizontal:hover{ border-color:#000 ;opacity:1}
.ui-slider-range { height:7px; -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius:5px; }

.formData { margin:0; list-style:none}
#formDataLoad .formData { padding-top:0px;}
.formData li { padding:0 0 10px 5px; margin:0;text-align: center;}
/*.formData li label { float:left; width:110px; margin:-20px 0 0 53px;}*/
.formData li select { width:100px;}
.formData li textarea { width:130px;}
.formData li input.px { width:40px;}
.formData li input.Color { width:100px;}
.formData li.selectStyle{ padding:4px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border:solid 0px #1c79a9; margin-bottom:10px;}
.formData li.selectStyle select { width:99%; padding:2px; border-width:0px; color:#000; border-width:0px;}

.outerContent {
    background: #D3D3D3;
    color:black;
    overflow: hidden;
    position: relative !important;
	width:500px;
	height:500px;
}

.contentBorder {border:2px red solid;}

#modal{
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #5F5F5F;
    opacity: 0.95;
    display: none;
}

.previewBlock{
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    display: none;
    border: 4px solid #A5A2A2;
    border-radius: 4px;
    float: left;
    font-size: 10px;
    line-height: 0px;
}

.bkBlock {
    top: 28%;
    left: 33%;
    font-size: 16px;
}

.previewBlock .buttons{
    width: 100px;
    position: absolute;
    bottom:-35px;
    right: -10px;
}

.previewBlock .buttons .ok{
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    width: 30px;
    height: 29px;
    line-height: 0px;
    font-size: 0px;
    background-image: url('../images/Ok.png');
    background-repeat: no-repeat;
}
.previewBlock .buttons .ok:hover{
    background-image: url('../images/OkGreen.png');
}

.previewBlock .buttons .cancel{
    margin-bottom: 0px;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    width: 30px;
    height: 29px;
    line-height: 0px;
    font-size: 0px;
    background-image: url('../images/Cancel.png');
    background-repeat: no-repeat;
}

.previewBlock .buttons .cancel:hover{
    background-image: url('../images/CancelRed.png');
}

.cropit-image-preview {
    background-color: white;
    background-size: cover;
    border-radius: 3px;
    cursor: move;
}

.cropit-image-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin : 17px 0px 17px 0px;
    color:white;
    font-size: 14px;
    text-align: center;
}

.cropit-image-zoom-input {
    margin : 15px 0 0 0px;
}

.slider {
    width:250px;
}

input[type="range"] {
    width: 50% !important;
}
