* { padding:0; margin:0; }

header, section, footer, nav, aside { display:block;}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea, select, a, blockquote{ font-family:Trebuchet MS, Arial, Helvetica, sans-serif;  margin:0; padding:0; }

body { font-size:12px; color:#FFF; text-shadow:0 1px 0 #000; background:#000 url(https://cloud.githubusercontent.com/assets/11660388/11772441/42a1322c-a257-11e5-9f5d-649f7ac1741b.jpg) repeat fixed center top}

h1, h2, h3, h4, h5, h6 { font-family:Trebuchet MS, Arial, Helvetica, sans-serif; text-shadow:0 -0px 2px #737373;  color:#000;  } 
h1 { font-size:20px; font-weight:normal; } 
h2 { font-size:18px; font-weight:normal; color:white; padding:5px 10px; -moz-border-radius-topleft: 5px;  -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; border-radius: 5px; } 
h3 { font-size:16px; font-weight:normal; }
h4 { font-size:14px; font-weight:normal; }
h5 { font-size:12px; font-weight:normal;}
h6 { font-size:12px; font-weight:normal; }

p { padding:3px 0 5px 0 }

a { text-decoration:none; color:#FFF; }
a:hover { text-decoration:underline; color:#FFF; }
a:active { color:#FFF; }
a:focus { outline:none; }
select:focus { outline:none; }

ul, ol { margin:0 0 10px 20px; }
li { margin:0 0 5px 0; }

form { margin:0; padding:0; }
label, input, textarea, select { }

table { } 
td, th { }

.main_wrapper {  height:600px; position:relative;}

#wrapper { width:1020px; margin:0 auto; position:relative; padding: 40px 0 0 0; } 
#header, header  { margin:0; padding:0;  }

.outerContent {
	background: #000 repeat;
    float: right;
    width: 700px;
	height: 400px;
    position: absolute;
    top: 40px;
    left: 350px;
}

.newText { font-size:15px;}
#container { overflow:   hidden;}
.appElement{ cursor:pointer;display:inline-block;}
.fontButton { width:50px;margin:0 auto;}
#editTextButton {display:none;}
.innerBox, .newText { display:inline-block;}

#content { } 
.widecolumn { width:1025px; height:600px; float:left} 
	.narrowcolumn { width:285px; float:none; margin-right:10px; }
	.narrowcolumnRight { width:285px; float:left; margin-left:10px; }
	.container { padding:0px; margin:0 0 10px 0; -moz-border-radius: 5px; -webkit-border-radius: 5px;  border-radius: 5px; border:solid 0px #000;    -moz-box-shadow:0px 1px 5px #000; -webkit-box-shadow:0px 1px 5px #000; box-shadow:0px 1px 5px #1c1c1c; }
  	.usercontainer { padding:0px; -moz-border-radius: 5px;	-webkit-border-radius: 5px;  border-radius: 5px;border:solid 0px #000; -moz-box-shadow:0px 1px 5px #000;    -webkit-box-shadow:0px 1px 5px #000;    box-shadow:0px 1px 5px #1c1c1c; }
	.subContainer{ padding-bottom:10px; }
	.subContainer.eheight{ min-height:180px;}
	.newHeight { min-height : 600px !important;}
	.subContainer.eheight2{ min-height:235px;}
	.subContainer.eheight.subContainerpading { padding:10px;  min-height:170px;}
	.subContainer.eheight2.subContainerpading { padding:10px;  min-height:225px;}
	.subContainer.eheightcoll1, .eheightcoll1 { min-height:470px;}	

.formData { margin:0; padding:10px 10px 0 10px; list-style:none}
#formDataLoad .formData { padding-top:0px;}
.formData li { padding:0 0 5px 5px; margin:0;}
.formData li label { float:left; width:110px;}
.formData li select { width:100px;}
.formData li textarea { width:130px;}
.formData li input.px { width:40px;}
.formData li input.Color { width:100px;}
.formData li.selectStyle{ padding:4px;  -moz-border-radius: 5px;
	-webkit-border-radius: 5px; border-radius: 5px;
	border:solid 0px #1c79a9; margin-bottom:10px;}
.formData li.selectStyle select { width:99%; padding:2px; border-width:0px; color:#000; border-width:0px;}

.formData li:after {  content: "."; display:block; height:0; clear:both; visibility:hidden; }
.formData li.button_menu { text-align:right; padding-top:10px;}
.formData li.button_menu a { loat:right; padding:2px 10px; margin-left:5px;  -moz-border-radius:4px; -webkit-border-radius: 4px; border-radius: 4px; border:1px solid #2d2d2d;}
.formData li.button_menu a:hover { text-decoration:none;}


.formData.suggestion_form label{width:80px;}
.formData.suggestion_form input { width:97%; font-size:11px;  background:url(../images/banner.png) repeat bottom;  border:0; color:#FFF; padding:3px 2px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.formData.suggestion_form input.error { border:solid 1px red;}


.formData li { display:inline-block; }		
* html .formData li { height:1%; }
.formData li{ display:block; }

.slider_mozz { -moz-border-radius:4px; -webkit-border-radius: 4px; border-radius: 4px; background:#4f4f4f; border:solid 1px #bcbcbc; height:7px; position:relative; text-align:left; margin-top:6px; display:block; float:left; width:50%;}
.ui-slider-handle { border:1px solid #2d2d2d; background:#FFF; color:#555555; cursor:pointer; height:12px; position:absolute; width:5px; margin-left:-5px; -moz-border-radius:4px; -webkit-border-radius: 4px; border-radius: 4px; top:-3px;}
.ui-slider-handle:hover{ border-color:#000 ;}


.ui-slider-horizontal:hover{ border-color:#000 ;opacity:1}
.ui-slider-range { height:7px; -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius:5px; }
